*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s linear;
}
html{
 font-size: 1.2rem;
 overflow-x: hidden;
 scroll-padding-top:6rem ;
 scroll-behavior: smooth;
 padding-left: 2%;
}
.logo{
    margin-left: 2rem;
}
.cont{
   align-items: center;
   justify-content: center;
}
header{
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 2% ;   
}
.navbar{
    margin-right: 30%;
    font-size: 140%;
    display: flex;
    padding-top: 1rem;
}
.navbar a{
    text-decoration: none;
    color: black;
    margin-right: 10%;
}
.navbar a:hover{
    color: orange;
}
.menu{
    display: flex;
    
}
.icons{
 display: flex;
 color: black;
}
.icons a{
   
    padding-left: 39%;
    color: black;
}
section{
   margin-left:3.5rem;
   display: flex;
   
}
.caption{
    margin: 8rem;
    font-size: 155%;
    width: 19rem;
    margin-left: 9%;
    line-height: 40px;
    text-align: center;
    color: rgb(7, 34, 7);
}
.caption h1{
    padding-top: 6%;
    float: left;
    color: black;
}
.review{
    display: flex;
    margin-top: 5%;
    font-size: 60%;
    width: 11.7rem;
    
}
.stars{
    display: flex;
    padding-right: 20px;
}
.stars:hover i{
    transform: rotate(150deg);
}
.review i{
    padding-left: 2%;
    font-size: large;
    transform: rotate(180deg);

}
.review p{
    position: relative;
    top: .5rem;
    padding-left: 2%;
    display: flex;
}
hr{
    padding-top: 4%;
    border-bottom: 2px solid rgb(7, 34, 7);
}
.img img{
    width: 130%;
}
.second{
    margin-top: -8%;
    gap: 8rem;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 2rem;
    text-align: center;
    flex-flow: wrap;
    flex-direction: row;
    
}
.box{
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}
.box img{
    width: 100%;
    height: 22rem;
}
.box p{
    font-size: 90%;
    padding-top: .9rem;
    width: 16rem;
   
}
.third {
    margin-top: 5%; 
    align-content: center;
    align-items: center;
    padding-right: 2rem;
    text-align: center;
    flex-flow: wrap;
    flex-direction: row;
}
.collections{
    justify-content: space-evenly;
    margin-top: 5%; 
   display: flex;
   align-content: center;
   align-items: center;
   gap: 11rem;
   flex-flow: wrap;
   flex-direction: row;
}
.title{
    width: 100%;
}
.title h1{
    font-size: 300%;
}
.title p{
    font-size: 130%;
}
.third .box p{
    font-size: 109%;
}
.p{
    padding-left: 10%;
    padding-right: 10%;
}

@media (max-width:400px) {
    body{
        font-size: 97%;
    }
    .navbar{
        margin-right: 50%;
        display: flex;
    }
    .navbar a{
        padding-left: 12%;
    }
    .icons{
        margin-left: 60%;
       }
}
@media (max-width:700px) {
    html{
        font-size: 47%;
    }
    .navbar{
        margin-right: 50%;
        display: flex;
    }
    .navbar a{
        padding-left: 12%;
    }
    .icons{
        margin-left: 80%;
       }
       .caption{
        margin: 4rem;
        font-size: 155%;
        width: 33%;
        margin-left: 9%;
        line-height: 20px;
        text-align: center;
        color: rgb(7, 34, 7);
    }
    .caption h1{
        padding-top: 6%;
        float: left;
        color: black;
    }
    .review{
        display: flex;
        margin-top: 5%;
        font-size: 60%;
        width: 20rem;
        
    }
    .review i{
        padding-left: 2%;
        font-size: x-small;
        transform: rotate(180deg);
    
    }
    .img img{
        width: 17rem;
    }
    .review p{
        position: relative;
        top: .5rem;
        
        padding-left: 2%;
    }
    .second{
        padding-top: 6rem;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
    }
    .box p{
        font-size: 130%;
        padding-top: .9rem;
        width: 23rem;
    
    }
}

@media (min-width:690px) {
    html{
        font-size: 97%;
    }
    .navbar{
        margin-right: 50%;
        display: flex;
    }
    .navbar a{
        padding-left: 12%;
    }
    .icons{
        margin-left: 80%;
       }
       .caption{
        margin: 10rem 4rem;
        font-size: 155%;
        width: 33%;
        margin-left: 3%;
        line-height: 20px;
        text-align: center;
        color: rgb(7, 34, 7);
    }
    .caption h1{
        padding-top: 6%;
        float: left;
        color: black;
    }
    .review{
        display: flex;
        margin-top: 5%;
        font-size: 60%;
        width: 20rem;
        
    }
    .review i{
        padding-left: 2%;
        font-size: x-small;
        transform: rotate(180deg);
    
    }
    .img img{
        width: 17rem;
    }
    .review p{
        position: relative;
        top: .5rem;
        
        padding-left: 2%;
    }
    .second{
        display: flex;
        padding-top: 1rem;
        align-content: center;
        align-items: center;
        gap: 4rem;
    }
    
    .img img{
        width:100%;
    }
    .box img{
        width: 90%;
    }
    .box p{
        font-size: 100%;
        margin-left: 2rem;
        padding-top: .9rem;
        width: 13rem;

    
    }
}


@media (min-width:1300px) {
    
    .navbar{
        margin-right: 40%;
        font-size: 85%;
        display: flex;
        padding-top: .1rem;
    }
    .review p{
        position: relative;
        top: .5rem;
        
    
    }
    .box p{
        font-size: 120%;
        margin-left: .2rem;
        padding-top: .9rem;
        width: 23rem;
    }
    .review i{
        font-size: larger;
    }
    .navbar a{
        text-decoration: none;
        color: black;
        padding-left: 15%;
        font-size:260%;
    }
    .icons{
        display: flex;
        color: black;
        margin-left: 80%;
       }
       .collections{
       gap: 13rem;
    }
    .caption{
        margin:  10rem;
        font-size: 225%;
        width: 30%;
        margin-left: 9%;
        line-height: 40px;
        text-align: center;
        color: rgb(7, 34, 7);
    }
    .img img{
        width: 130%;
    }
    .box img{
        width: 100%;
    }
    .collections{
        gap: 7rem;
    }
}
@media (max-width:330px) {
    html{
        margin-left: -8% ;
    }
    .caption{
        font-size: 150%;
        width: 17rem;
        
      }
      .review p{
        font-size: 100%;
      }
    }